@import "tailwindcss";

@layer base {
  :root {
    --color-beige: #e0d4be;
    --color-cream: #f2f3ed;
    --color-light-cream: #fffcf4;
    --color-olive: #bcc399;
    --color-green: #91af7e;
    --color-dark: #151513;
  }
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: var(--color-cream);
  color: var(--color-dark);
}

.card {
  background: var(--color-cream);
  border-radius: 1rem;
  box-shadow: 8px 8px 16px #bcc4aa, -8px -8px 16px #ffffff;
  padding: 1rem;
  transition: transform 0.2s ease;
}
.card:hover {
  transform: scale(1.02);
}
